
.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 80% !important;
    max-width: 600px !important;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px;
}

.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}

.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right: 1px solid #37B5A5;
    padding: 3px 6px;
}

.table_dark tr:last-child td {
    border-bottom: none;
}

.table_dark td:last-child {
    border-right: none;
}

.table_dark tr:hover td {
    text-decoration: none;
}

.double-border-button {
    text-decoration: none;
    display: inline-block;
    /*margin: 3px 5px;*/
    /*padding: 4px 8px;*/
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    height: 90% !important;
    margin-left: 5px;
    width: 50px;
    text-align: center;
}

.double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.double-border-button:hover:after {
    /*border-color: #f1c40f;*/
    /*width: calc(100% - 10px);*/
    /*height: calc(100% + 10px);*/
}

.search-input {
    border: 1px gainsboro solid;
    margin: 0px !important;
    padding: 0px !important;
    width: 120px;
    height: 100%;
    color: white;
}

td .double-border-button {
    background: #EDB749 !important;
    color: black;
}

.v-btn {
    margin: 0px !important;
    padding: 0px !important;
    width: 60px !important;
    font-size: 11px !important;
    height: 20px !important;
    border-radius: 0px;
}

.green-btn {
    background: green;
    color:white;
}

.form-modal input {
    border: 1px gainsboro solid;
    width: 100%;
    margin: 3px;
}

.form-modal-btn button {
    width: 80px !important;
    border: 1px gainsboro solid;
    margin: 5px !important;
    padding: 3px 9px 5px 9px !important;
}

input[type='text'] {
    border:1px gainsboro solid;
}

.auth-form {
    margin: 20px;
    display: block !important;
    width: 100%;
}

.auth-form input{
    margin: 10px;
    width: 100%;
}

.datalist-container {
    background: #EDB749;
    width: 150px;
    max-height: 300px;
    position: absolute;
    overflow: auto;
    display: none;
}

.datalist-container div {
    color: #252F48;
    border: 1px gainsboro solid;
    font-size: 11px;
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.datalist-container div:hover {
    color: white;
}

.paginator-box {
    /*border: 1px goldenrod solid;*/
    margin: 10px 0px 0px 10px;
    font-size: 12px;
}

.paginator-box button {
    border: 1px goldenrod solid;
    padding: 4px;
    margin: 3px;
}